<html>
    <head>
        <title>Somnath's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Somnath's Blog</a></h1>
        </div>

        <div>
            <p>published: 14.01.2021, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Some long asss para some long as para. Bruh bruh ruh Some long asss para some long as para. Bruh bruh ruh Some long asss para some long as para. Bruh bruh ruh Some long asss para some long as para. Bruh bruh ruh</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Some long asss para some long as para. Bruh bruh ruh Some long asss para some long as para. Bruh bruh ruh Some long asss para some long as para. Bruh bruh ruh Some long asss para some long as para. Bruh bruh ruh</p>
        </div>
    </body>
</html>